*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    margin: 0 auto;
    width: 60vw;
    text-align: left;
}

.small-container {
    margin: 0 auto;
    width: 55vw;
    text-align: left;
}

.column{
    display: flex;
    flex-direction: column;

    /* debug
    background-color: blue;
    height: 550px; */
}

.row{
    display: flex;
    flex-direction: row;
}

.box {
    display: flex;
    position: relative;
    gap: 3.5rem;
}

.btn{
    display: inline-block;
    background-color: white;
    color: black;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    text-decoration: none;
    width: fit-content;
}

.btn.btn-primary{
    color: white;
    background-color: rgb(0, 97, 255);
    border: 1px solid rgb(0, 97, 255);
}

.btn.btn-base{
    border: 1px solid black;
}

.gray {
    color: rgb(151, 151, 151);
}

.primary {
    color: rgb(0, 97, 255);
}

.col-dir {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* HEADER */
header{
    display: flex;
    position: fixed;
    z-index: 1;
    top: 0;
}

nav a{
    text-decoration: none;
    color: currentColor;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: white;
    width: 100vw;
}

.menu ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap:2.5rem;
    margin-left: 2rem;
}

.menu > img{
    object-fit: cover;
}

.menu{
    display: flex;
    gap: 5px;
}

/* MAIN */

/* Section 1 */
.jumbotron{
    background-color: rgb(180, 208, 231);
    margin-top: 4rem;
    /* debug
    height: 500px; */
}

.container>h1 {
    padding-top: 2rem;
    font-size: 5rem;
    padding-bottom: 2rem;
}

.bigger{
    font-size:xx-large;
}

.jumbotron>.container{
    position: relative;
    bottom: -6rem;
}


/* Section 2 */
.small-container>h2{
    margin-top: 7rem;
    font-size: 2rem;
}

.circle{
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    position: relative;
}

.circle.xs{
    height: 0.5rem;
    width: 0.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle.primary{
    background-color: rgb(0, 97, 255);
}

.circle.base{
    background-color: white;
    border: 1px solid gray;
}

.small-container .box .column.w30,
.small-container .box .column.w100{
    padding: 1rem 1.5rem;
    border: 1px solid rgb(211, 211, 214);
}

.column.w100{
    height: 100%;
}

.small-container .box .row.w30,
.small-container .box .row.w100 {
    padding: 1rem 1.5rem;
    border: 1px solid rgb(211, 211, 214);
}

.column.w100.title,
.mt2.column.w100.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.5rem;
    height: fit-content;
    border: 1px solid rgb(211, 211, 214); 
    border-bottom: white;
}

hr{
    border: 1px solid rgb(211, 211, 214);
    width: 20%;
}

/* Section 4 */

.no-border {
    border: none;
}

