*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    margin: 0 auto;
    width: 60vw;
    text-align: left;
}

.small-container {
    margin: 0 auto;
    width: 55vw;
    text-align: left;
}

.column{
    display: flex;
    flex-direction: column;
}

.box {
    display: flex;
    position: relative;
    padding-top: 2rem;
}

.btn{
    display: inline-block;
    background-color: white;
    color: black;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    text-decoration: none;
    width: fit-content;
}

.btn.btn-primary{
    color: white;
    background-color: rgb(0, 97, 255);
    border: 1px solid rgb(0, 97, 255);
}

/* HEADER */
header{
    display: flex;
    position: fixed;
    z-index: 1;
    top: 0;
}

nav a{
    text-decoration: none;
    color: currentColor;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: white;
    width: 100vw;
}

.menu ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap:2.5rem;
    margin-left: 2rem;
}

.menu > img{
    object-fit: cover;
}

.menu{
    display: flex;
    gap: 5px;
}

/* MAIN */

/* Section 1 */
.jumbotron{
    background-color: rgb(180, 208, 231);
    margin-top: 4rem;
    /* debug
    height: 500px; */
}

.container>h1 {
    padding-top: 2rem;
    font-size: 5rem;
    padding-bottom: 2rem;
}

.bigger{
    font-size: 2rem;
   margin-bottom: 5.5rem;
}

.jumbotron>.container{
    position: relative;
    bottom: -5rem;
}


/* Section 2 */
.small-container>h2{
    padding-top: 7rem;
}