*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    margin: 0 auto;
    width: 60vw;
    text-align: left;
}

.small-container {
    margin: 0 auto;
    width: 55vw;
    text-align: left;
}

.container-title>h1{
    padding-top: 4.5rem;
    font-size: 4rem;
}

.bt{
    padding: 0.5rem;
    width: fit-content;
}

.blue {
    color: white;
    background-color: rgb(0, 97, 255);
}

/* HEADER */
header{
    display: flex;
    position: fixed;
    z-index: 1;
    top: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: white;
    width: 100vw;
}

a, a:visited{
    text-decoration: none;
    color: currentColor;
}

.menu ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap:2.5rem;
    margin-left: 2rem;
}

.menu > img{
    object-fit: cover;
}

.menu{
    display: flex;
    gap: 5px;
}

/* MAIN */

/* Section 1 */
.jumbotron{
    background-color: rgb(180, 208, 231);
    margin-top: 4rem;
    /* debug
    height: 500px; */
}

.container-title{
    width: 85%;
}

.column{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 2rem;
}

.bigger{
    font-size: 2rem;
    padding-bottom: 0.5rem;
}

.box{
    display: flex;
    position: relative;
}

.jumbo-img{
    position: absolute;
    left: 20rem;
    width:33vw;
}


/* Section 2 */
.small-container>h2{
    padding-top: 7rem;
}