/* Utils */

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}

.w30 {
	width: 30%;
}

.w40{
	width: 40%;
}

.w60{
	width: 60%;
}

.w70 {
	width: 70%;
}

.w100 {
	width: 100%;
}

.mb05{
	margin-bottom: -0.5rem;
}

.mb1 {
	margin-bottom: 1.5rem;
}

.mb2{
	margin-bottom: 2rem;
}

.mb4{
	margin-bottom: 4rem;
}

.mt1{
	margin-top: 1rem;
}

.mt2{
	margin-top: 2rem;
}

.mt4 {
	margin-top: 4rem;
}

.ml05{
	margin-left: 0.5rem;
}

.ml2{
	margin-left: -2.5rem;
}

.ml5{
	margin-left: 5rem;
}

.pl1 {
	padding-left: 1rem;
}
