/* Utils */
body{
	color: rgb(89, 89, 89);
}

h1, h2, h3, h4{
	color: black;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}

.w30 {
	width: 30%;
}

.w70 {
	width: 70%;
}

.w100 {
	width: 100%;
}

.mb05{
	margin-bottom: -0.5rem;
}

.mb1 {
	margin-bottom: 1.5rem;
}

.mb2{
	margin-bottom: 2rem;
}

.mb3 {
	margin-bottom: 3rem;
}

.mb4{
	margin-bottom: 4rem;
}

.mb5{
	margin-bottom: 5.5rem;
}

.mt1{
	margin-top: 1rem;
}

.mt2{
	margin-top: 2rem;
}

.mt4 {
	margin-top: 4rem;
}

.mt6 {
	margin-top: 6rem;
}

.mt10{
	margin-top: 10rem;
}

.ml05{
	margin-left: 0.5rem;
}

.ml2{
	margin-left: -2.5rem;
}

.ml3 {
	margin-left: 3rem;
}

.ml5{
	margin-left: 5rem;
}

.ml6{
	margin-left: 6.5rem;
}

.mr4 {
	margin-right: 4rem;
}

.pl1 {
	padding-left: 1rem;
}

.pl1{
	padding-left: 1rem;
}

.pt4{
	padding-top: 4rem;
}

.pb4{
	padding-bottom: 4rem;
}

.fs1{
	font-size: 1.3rem;
	width: 100%;
}

.fs2{
	font-size: 2rem;
}

.lh4{
	line-height: 4rem;
}

