/* Utils */

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}

.w30 {
	width: 30%;
}

.w70 {
	width: 70%;
}

.mb2{
	margin-bottom: 2rem;
}

.mt4 {
	margin-top: 4rem;
}